*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    width: 70%;
    display: inline-block;
}
#sidebar {
    display: inline-block;
    width: 30%;
    float: right;
    height: 100%;
    background-color: #f0ebeb;
}

/* hide Error message  */
.empty__value, .negative__value {
    display: none;
}

/* card image size fixed */
.card img {
    height: 200px;
}

@media only screen and (max-width: 576px) {
    #main__section {
        display: flex;
        flex-direction: column-reverse;
    }
#content {
    width: 100%;
    display: block;
}
#sidebar {
    display: block;
    width: 100%;
    height: 80vh;
    background-color: #c0bcbc;
}
}