*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    width: 70%;
    display: inline-block;
}
#sidebar {
    display: inline-block;
    width: 30%;
    float: right;
    height: 100vh;
    background-color: #c0bcbc;
}